<%= form_with(model: @guard, local: true) do |form| %>
  <% if @guard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guard.errors.count, "error") %> prohibited this guard from being saved:</h2>

      <ul>
      <% @guard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Фото' %>
    <%= form.file_field :avatar %>
  </div>
  <div>
    <%# image_tag(@guard.avatar) %>
  </div>

  <div class="actions">
    <%= form.label 'Фамилия' %>
    <%= form.text_field :last_name %>
  </div>

  <div class="actions">
    <%= form.label 'Имя' %>
    <%= form.text_field :first_name %>
  </div>

  <div class="actions">
    <%= form.label 'Отчество' %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="actions">
    <%= form.label 'Дата рождения' %>
    <%= form.date_field :birth %>
  </div>

  <div class="actions">
    <%= form.label 'Адрес регистрации' %>
    <%= form.text_field :registration_address %>
  </div>

  <div class="actions">
    <%= form.label 'Фактический адрес' %>
    <%= form.text_field :actual_address %>
  </div>

  <div class="actions">
    <%= form.label 'Трудоустроен' %>
    <%= form.date_field :employment %>
  </div>

  <div class="actions">
    <%= form.label 'Уволен' %>
    <%= form.date_field :fired %>
  </div>

  <br><hr>

  <div class="actions">
    <%= form.label 'Удостоверение действительно до ' %>
    <%= form.date_field :validity_certificate %>
  </div>

  <div class="actions">
    <%= form.label 'Переодическая проверка действительна до ' %>
    <%= form.date_field :validity_examination %>
  </div>

  <div class="actions">
    <%= form.label 'Медкомиссия действительна до ' %>
    <%= form.date_field :validity_medical_board %>
  </div>

  <div class="actions">
    <%= form.submit 'сохранить' %>
  </div>
<% end %>
